/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @use './layouts/_down-up-text.scss';
 @use './layouts/_up-down-text.scss';
 @use './layouts/_text-up-down.scss';
 @use './layouts/_text-down-up.scss';
 @use './layouts/_no-containers.scss';

@supports not ( container-type: inline-size ){
  @include no-containers.layout;
  @include no-containers.styles;
}

.wp-block-overlapping-images-block-overlapping-images {
  display: grid !important;
  container-type: inline-size;
	color: #000;
  grid-template-columns: repeat( 18, 1fr );
  grid-template-rows: repeat( 12, 1fr);
  min-height: 480px;
  max-height: 660px;

  img.overlapping-imgs-image-one,
  img.overlapping-imgs-image-two{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }

  .overlapping-imgs-backdrop{
    grid-row: 2 / 12;
    grid-column: 1 / 19;
  }

  .overlapping-imgs-image-one-wrap img{
    border: 16px solid #fff;
  }

  .overlapping-imgs-innerblocks-wrap{
    background: #fff;
    padding: 32px;
  }

  .overlapping-imgs-image-one-wrap{
    z-index: 1;
  }

  @container (max-width: 1070px){

    .overlapping-imgs-innerblocks-wrap{
      padding: 16px;
    }
  }

  @container (max-width: 768px){
  
    .overlapping-imgs-innerblocks-wrap{
      z-index: 1;
    }
  
    .overlapping-imgs-image-one-wrap{
      z-index: 0;
    }
  }
  
  @container (max-width: 650px){
  
      .overlapping-imgs-innerblocks-wrap{
        grid-column: 4 / 16;
      }
  
  }

}

@media (max-width: 768px){
  .wp-block-overlapping-images-block-overlapping-images{
    min-height: unset;
    max-height: 708px;
  }
}