.wp-block-overlapping-images-block-overlapping-images.layout-text-up-down{
  
  .overlapping-imgs-innerblocks-wrap{
    grid-column: 3 / 9;
    grid-row: 4 / 10
  }
  
  .overlapping-imgs-image-one-wrap{
    grid-column: 11 / 17;
    grid-row: 3 / 13;
  }
  
  .overlapping-imgs-image-two-wrap{
    grid-column: 7 / 13;
    grid-row: 1 / 12;
  }
  
  
  @container (max-width: 1368px){
    .overlapping-imgs-image-one-wrap{
      grid-column: 11 / 18;
    }

    .overlapping-imgs-image-two-wrap{
      grid-column: 6 / 13;
    }
  
    .overlapping-imgs-innerblocks-wrap{
      grid-column: 2 / 9;
    }
  }

  @container (max-width: 1070px){
    
      .overlapping-imgs-innerblocks-wrap{
        grid-row: 4 / 11;
      }

  }

  @container (max-width: 768px){
    
    .overlapping-imgs-innerblocks-wrap{
      grid-column: 5 / 15;
      grid-row: 6 / 11;
    }

    .overlapping-imgs-image-one-wrap{
      grid-column: 9 / 18;
      grid-row: 3 / 9;
    }
    
    .overlapping-imgs-image-two-wrap{
      grid-column: 2 / 11;
      grid-row: 1 / 7;

    }
    
  }

  @container (max-width: 650px){
    
    .overlapping-imgs-image-one-wrap{
      grid-column: 9 / 17;
    }

    .overlapping-imgs-image-two-wrap{
      grid-column: 3 / 11;
    }

  }

  @container (max-width: 584px){

    .overlapping-imgs-innerblocks-wrap{
      grid-column: 4 / 16;
    }
    
    .overlapping-imgs-image-one-wrap{
      grid-column: 8 / 16;
      grid-row: 2 / 8;
    }

    .overlapping-imgs-image-two-wrap{
      grid-column: 4 / 12;
      grid-row: 1 / 7;
    }

  }

  @container (max-width: 488px){

    .overlapping-imgs-innerblocks-wrap{
      grid-column: 2 / 18;
    }

    .overlapping-imgs-image-one-wrap{
      grid-column: 9 / 18; 
    }

    .overlapping-imgs-image-two-wrap{
      grid-column: 2 / 11;
    }

  }

  @container (max-width: 368px){

    .overlapping-imgs-innerblocks-wrap{
      grid-column: 1 / 19;
    }

    .overlapping-imgs-image-one-wrap{
      grid-column: 7 / 19;
    }

    .overlapping-imgs-image-two-wrap{
      grid-column: 1 / 11;
    }

  }

}