@import './layout-mixins.scss';

.wp-block-overlapping-images-block-overlapping-images.layout-down-up-text{
  
  .ps-innerblocks-wrap{
    @include right-large;
  }
  /*
  .ps-text-wrap{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  
    a{
      background: #000;
      color: #fff;
      padding: 8px 18px;
      display: inline-block;
      text-decoration: none;
    }
  }
  */
  
  .ps-image-one-wrap{
    @include left-large;
    @include bottom-leftright-large;
  }
  
  .ps-image-two-wrap{
    @include top-center-large;
  }
  
  
  @media (max-width: 1490px){
    .ps-image-one-wrap{
      @include medium-left;
    }
  
    .ps-innerblocks-wrap{
      @include medium-right;
    }
  }

}

@media (max-width: 1070px){
  .wp-block-overlapping-images-block-overlapping-images.layout-down-up-text{
    .ps-innerblocks-wrap{
      grid-row-start: 2;
    }
  }
}

@media (max-width: 768px){
  .wp-block-overlapping-images-block-overlapping-images.layout-down-up-text{

    .ps-image-one-wrap{
      @include small-image-left;
      @include small-image-down;
    }
    
    .ps-image-two-wrap{
      @include small-image-right;
      @include small-image-up;
    }
  }
}

@media (max-width: 650px){
  .wp-block-overlapping-images-block-overlapping-images.layout-down-up-text{
    
    .ps-image-one-wrap{
      @include vsmall-left;
    }

    .ps-image-two-wrap{
      @include vsmall-right;
    }
  }
}

@media (max-width: 500px){
  .wp-block-overlapping-images-block-overlapping-images.layout-down-up-text{

    .ps-image-one-wrap{
      @include tiny-left;
      @include tiny-down;
    }

    .ps-image-two-wrap{
      @include tiny-right;
      @include tiny-up;
    }
  }

}