.wp-block-overlapping-images-block-overlapping-images.layout-text-down-up{
  
  .ps-innerblocks-wrap{
    grid-column: 3 / 9;
    grid-row: 4 / 10;
  }
  
  .ps-image-one-wrap{
    grid-column: 11 / 17;
    grid-row: 1 / 11;
  }
  
  .ps-image-two-wrap{
    grid-row: 2 / 13;
    grid-column: 7 / 13;
  }
  
  
  @container (max-width: 1490px){
    .ps-image-one-wrap{
      grid-column: 11 / 18;
    }

    .ps-image-two-wrap{
      grid-column: 6 / 13;
    }
  
    .ps-innerblocks-wrap{
      grid-column: 2 / 9;
    }
  }

  @container (max-width: 1070px){
    
    .ps-innerblocks-wrap{
      grid-row-end: 12;
    }

  }


  @container (max-width: 768px){

    .ps-innerblocks-wrap{
      grid-row: 6 / 11;
      grid-column: 5/ 15;
    }
    
    .ps-image-one-wrap{
      grid-column: 9 / 18;
      grid-row: 1 / 7;
    }
    
    .ps-image-two-wrap{
      grid-column: 2 / 11;
      grid-row: 3 / 9
    }
  }

  @container (max-width: 650px){
      
    .ps-image-one-wrap{
      grid-column: 9 / 17;
    }

    .ps-image-two-wrap{
      grid-column: 3 / 11;
    }
    
  }

  @container (max-width: 500px){
    
    .ps-innerblocks-wrap{
      grid-column: 4 / 16;
    }

    .ps-image-one-wrap{
      grid-column: 8 / 16;
      grid-row: 1 / 7;
    }

    .ps-image-two-wrap{
      grid-column: 4 / 12;
      grid-row: 2 / 8
    }

  }

}